body {
    font-family: "Montserrat";
}

h2{
    font-weight: bold;
    line-height: 1;
    font-size: 3rem;
}
/* -----Navigation Bar----- */

.navbar-brand{
    font-family: "Ubuntu";
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}

/* -----Title section----- */

#title {
    background-color: #ff4c6f;
    color: #fff;
    
}
.title {
    line-height: 1.5;
    font-size: 3.5rem;
}
/* Title image */
.phone {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/*------ Buttons ------ */

.btn {
    margin: 5% 3% 5% 0;
}

/* Features section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;

}
.feature-box{
    text-align: center;
    padding: 5%;
}
.feature-box p {
    padding: 0% 10%;
    color: #8f8f8f;
    font-size: 17px;
}

.icon{
    color: #ef8172;
    size: 15ch;
    margin-bottom: 1rem ;
}
.icon:hover {
 color: #ff4c6f;
}
/* -----testimonail section------ */
#testimonials {
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
#testimonials img {
    border-radius: 100%;
    width: 15%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;
}

/* ------press section ----- */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
#press img {
    width: 15%;
    margin: 20px 20px 50px;
}

/* ------pricing section -----*/

#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-col {
    padding: 3% 2%;
}

/*------- cta section -----*/

#cta {
    background-color:  #ff4c6f;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}

/* ----footer section ----- */
#footer {
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
}
#footer p {
    color: #8f8f8f;;
}
.s-icon {
    margin: 20px 10px;
}
@media (max-width: 1028px) {
    .phone{
        position: static;
        transform: rotate(0deg);
    }
    #title {
        text-align: center;
    }
}